
body{
    background-color: beige;
    background-image: url(Landscape.jpg);
    justify-content: center;
}


.calculator{
    display: grid;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-top: 200px;
    width: 350px;
    height: 450px;
    background-color: rgba(29, 28, 28, 0.856);
}



.display{
    background-color:#f7f4f4; 
    outline: 2px solid rgb(0, 0, 0);
    width: 295px;
    height: 80px;
}

.display * {
    padding: 20px 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: larger;
    font-weight: bold;
}


.calculator-layout{
    display: grid;
    grid-template-columns: 50px 50px 50px 60px 60px;
    padding-top: 10px;
    padding-bottom: 70px;
    row-gap: 5px;
    column-gap: 6px;
    
}

.LSB{
    background-color: #0893ca;
    height: 40px;
    width: 50px;
    font-size: larger;
    color: white;
}

.RSB{
    background-color: #ed9907;
    height: 40px;
    width: 60px;
    font-size: larger;
    color: white;
}
